<section class="border-white/20 border-b">
  <div class="bg-transparent duration-200 group hover:bg-orange">
    <a
      href="mailto:michael@andreuzza.com"
      class="text-white text-center items-center uppercase font-black w-full bg-orange duration-200 focus:outline-disc focus:ring-0 hoder:rounded-0 inline-flex justify-center lg:py-24 lg:text-7xl px-4 py-6 rounded-full text-4xl"
      >Get a quote</a
    >
  </div>
</section>
