---
import Banner from "@/components/landing/Banner.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
---

<section class="border-white/20  border-b">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="mx-auto">
      <div class="mx-auto lg:pt-28 gradient-grid px-8 py-12">
        <h1 class="text-white font-display uppercase text-3xl lg:text-7xl">
          Amplía tu repertorio artístico con herramientas tecnológicas de vanguardia y potencia tu creatividad en el mundo digital.
        </h1>
      </div>
      <!--Banner /-->
      <Testimonials />
    </div>
  </div>
</section>
