---
import Banner from "@/components/landing/Banner.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
// Assets
import BgGrid from "@/components/assets/BgGrid.astro";
---

<section class="border-white/20 border-b">
  <div class="bg-grid p-8 relative">
    <BgGrid />

    <h1
      class="text-white tracking-tighter font-black uppercase text-3xl lg:text-8xl relative"
    >
      Maximize your online presence with a unique and engaging one-page website
      that delivers outstanding results.
    </h1>
  </div>
  <Banner />
  <Testimonials />
</section>
