---
import Banner from "@/components/landing/Banner.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
---

<section class="border-white/20  border-b h15vh ">
  <div class="mx-auto border-white/20 h-screen border-x max-w-7xl ">
    <div class="mx-auto">
    <div class="absolute p-4 lg:pt-56 lg:m-10 ">
    <div class="p-4 rounded-lg " >
         <h1 class="backdrop-blur-lg bg-black/30 p-2 rounded-lg w-4/5 text-white   uppercase text-2xl lg:text-5xl"> Amplía tu repertorio artístico con herramientas tecnológicas de vanguardia y potencia tu creatividad digital</h1>
          <!--p class="backdrop-blur-lg bg-black/30 p-2 rounded-lg w-4/5 text-white  mt-5 ">SINESTESIA es un laboratorio transdisciplinario de Experimentación, Improvisación y Nuevos Medios que conecta personas interesadas en las tecnociencias, el arte y la cultura digital. Nuestras colaboraciones se llevan a cabo en escenarios intervenidos digitalmente, donde se promueve el intercambio de conocimientos y la improvisación en artes escénicas, musicales y visuales, haciendo uso de tecnologías multimedia abiertas y de libre uso </p-->
        </div>
        </div>
        
      <!--canvas id="myCanvas" class=" rounded-lg mx-auto   md:px-8 md:py-12 h-screen">
      
        
      </canvas-->
      <img class="w-full object-cover h-screen" src="bg.webp">
      <!--Banner/-->
      
      <Testimonials />
    </div>
  </div>
  <!--canvas id="myCanvas" class=" rounded-lg mx-auto   md:px-8 md:py-12 h-screen">
      
        
      </canvas-->
</section>
<!--script is:inline src="https://unpkg.com/hydra-synth"></script>
<script is:inline>
      var hydra = new Hydra({
        canvas: document.getElementById("myCanvas"),
        detectAudio: false,
      });
     src(o0).scale(1.1).layer(osc(10, 0.1, 0.5).blend(osc(10,0.1,0).color(2)).mask(shape(3,0.1,0.7)).rotate()
        .color(0.85,1.00,0.10).saturate(4).modulate(o0,0.053)
        .modulate(noise(2, 0.07), () => mouse.x / 600).scale(1).blend(o0,0.8).blend(o0,0.4)
        .blend(o0,0.2).modulate(o0,0.04)).out();
    </script-->