<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white   lg:text-2xl text-xl">
        El ciclo de talleres 'Introducción a las Herramientas Abiertas para el Arte Digital y Nuevos Medios' es una oportunidad única de adquirir habilidades y conocimientos necesarios para integrarse en un mundo en constante evolución, mientras se explora el potencial creativo que ofrecen las herramientas digitales de acceso libre, opensource y gratuitas.       </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white  lg:text-lg">
        Estos talleres van dirigidos a cualquier persona interesada en aprender y experimentar con las posibilidades que ofrecen las herramientas digitales. La metodología de los talleres incluye sesiones virtuales en vivo con unx instructorx expertx, seguidas de trabajo práctico directo usando las herramientas en cuestión.
Cada taller ofrece un conjunto único de habilidades y conocimientos que pueden ser aplicados en una variedad de campos: modelos de Inteligencia Artificial, música algorítmica, visuales generativos y diseño 3D.  Al finalizar cada taller, los participantes habrán adquirido habilidades valiosas que podrán aplicar en su carrera o en proyectos personales.

      </p>
    </div>
  </div>
</section>
