<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        AstroMax is a comprehensive design, redesign, and development service
        that specializes in crafting exceptional one-page websites to captivate
        users and leave a lasting impression.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        I specialize in developing static websites using Astro and Tailwind CSS.
        By leveraging these frameworks, I create tailored and optimized websites
        that effectively share startup stories, connect with audiences, and
        create memorable experiences. Let me help you achieve your goals with a
        remarkable online presence.
      </p>
    </div>
  </div>
</section>
