---
import BgGrid from "@/components/assets/BgGrid.astro";
---

<section class="border-white/20 border-b divide-y divide-white/20">
  <div class="p-8 relative">
    <BgGrid />
    <p
      class="text-white font-black uppercase tracking-tight lg:text-7xl text-xl"
    >
      AstroMax crafts bold, high-impact one-page websites—designed, refined, and
      built to captivate.
    </p>
  </div>
  <div class="p-8">
    <p class="text-white font-black uppercase lg:text-3xl">
      Built with Astro and Tailwind CSS, each site is fast, sharp, and tailored
      to tell your story and make your brand stand out. Simple, effective,
      unforgettable.
    </p>
  </div>
</section>
