@tailwind base;
@tailwind components;
@tailwind utilities;
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

:root {
  --astro-code-color-text: #000000;
  --astro-code-color-background: #ffffff;
  --astro-code-token-constant: #00000080;
  --astro-code-token-string: #00000050;
  --astro-code-token-comment: #00000060;
  --astro-code-token-keyword: black;
  --astro-code-token-parameter: #ffffff;
  --astro-code-token-function: black;
  --astro-code-token-string-expression: #fe351b;
  --astro-code-token-punctuation: #ffffff;
  --astro-code-token-link: #ffffff;
}