@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.gradient-grid  {
background-image: radial-gradient(circle at center center, transparent 0%,rgba(255,255,255, 0) 99%),repeating-linear-gradient(0deg, rgba(205,205,205, 0.2) 0px, rgba(205,205,205, 0.2) 1px,transparent 1px, transparent 6px),repeating-linear-gradient(90deg, rgba(205,205,205, 0.2) 0px, rgba(205,205,205, 0.2) 1px,transparent 1px, transparent 6px),linear-gradient(90deg, rgba(255,255,255, 0),rgba(255,255,255, 0));
}

/*.splide__pagination {
  visibility: hidden;
}*/

body {
  background:black;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Space Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.h15vh {
  height: 150vh;
}

@media screen and (max-width: 480px) {
  /* Your styles for small phones here */
  .h15vh {
    height: 200vh;
  }
}
