<section>
  <div class="px-8 md:px-12 max-w-6xl mx-auto py-32 2xl:max-w-7xl items-center">
    <div class="max-w-xl mx-auto text-center">
      <p class="text-4xl font-display font-semibold tracking-tight text-black">
        About
      </p>
      <p class="mt-4 text-lg tracking-tight text-gray-600">
        A full width entry to use as a header
      </p>
    </div>

    <div
      class="prose max-w-3xl py-24 mx-auto prose-slate font-serif prose-headings:font-sans first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 first-letter:mr-3 first-letter:float-left prose-blockquote:border-l-salmon-500 prose-headings:text-black prose-li:marker:text-salmon-500">
      <p>
        Computers used to be magical. But much of that magic has been lost over
        time, replaced by subpar tools and practices that slow teams down and
        hold great work back. Frustrated with building and managing software
        projects in high-growth companies ourselves, we founded a company to
        build something better. We named it Linear to signify progress.
        Productivity software should be opinionated. It's the only way the
        product can truly do the heavy lifting for you. Flexible software lets
        everyone invent their own workflows, which eventually creates chaos as
        teams scale.
      </p>
    </div>
  </div>
</section>
