<section>
  <div class="px-8 md:px-12 mx-auto py-36 2xl:max-w-7xl">
    <div class="relative w-full lg:pt-36">
      <div class="absolute inset-0 w-full">
        <img
          class="object-cover w-full h-full aspect-video"
          src="/artOne.jpg"
          alt=""
        />
      </div>
      <div
        class="max-w-6xl p-4 md:p-10 mx-auto 2xl:max-w-7xl relative lg:mt-24">
        <div class="max-w-xl p-4 sm:p-8 lg:p-10 lg:-mb-[4.5rem] bg-wood-100">
          <div class="w-full">
            <h1
              class="font-display text-4xl font-bold lg:text-5xl tracking-tight text-black">
              404 We lost that page fam...
            </h1>
            <p class="mt-4 text-lg tracking-tight text-black">
              Sorry the page you are looking for doesn't exist or has moved. Go
              to our sitemap
            </p>
          </div>
          <div class="flex gap-3 mt-6">
            <a
              class="inline-flex justify-center py-1 px-4 text-base font-medium tracking-wide focus:outline-none bg-black text-white hover:bg-mist-900 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-mist-600 active:bg-mist-700 active:text-white/80 disabled:opacity-30 disabled:hover:bg-mist-600"
              href="/overview">
              <span>Explore sitemap</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
