<main aria-labelledby="Terms" id="Terms" class="relative overflow-hidden">
  <div class="px-8 md:px-12 max-w-6xl mx-auto py-24 2xl:max-w-7xl">
    <div class="text-center max-w-xl mx-auto">
      <p class="text-4xl font-display font-semibold tracking-tight text-black">
        Privacy
      </p>
      <p class="mt-4 text-lg tracking-tight text-gray-600">
        Last updated on January 01, 2023
      </p>
    </div>

    <div
      class="prose max-w-3xl py-24 mx-auto prose-slate font-serif prose-headings:font-sans first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 first-letter:mr-3 first-letter:float-left prose-blockquote:border-l-salmon-500 prose-headings:text-black prose-li:marker:text-salmon-500">
      <p>
        This privacy policy sets out how Unwrapped AB collects, processes and
        uses your Personal Information through your use of our Services.
      </p>

      <p>
        We are a comprehensive design and technology partner for the digital
        age. We help businesses to innovate and remain highly relevant to their
        customers by developing cutting-edge digital products and executing
        smart and valuable communication.
      </p>

      <p>Definitions DPO</p>

      <p>
        DPO means Data Protection Officer, and is the person specifically
        appointed by us to deal with your enquiries with respect to this privacy
        policy and your Personal Information. Personal Information means any
        identifying information about you. This includes, but is not limited to,
        the following: cookies and usage data. Services means all services
        provided by Michael Alexander Web Agency to you, including (but not
        limited to) this Website. Website means this website and all websites,
        applications and communications that post a link to this Privacy Policy.
      </p>

      <p>Personal Information Collection</p>

      <p>
        We only collect and use Personal Information to the extent necessary to
        provide you with the Services. We collect Personal Information for the
        Website to provide you with a better online experience.
      </p>

      <p>Personal Information Retention</p>

      <p>
        We keep Personal Information for the shortest time necessary to provide
        you with Services and to meet all our legal and compliance obligations.
        To determine this retention period, we take into account (i) the nature
        of the Personal Information gathered; and (ii) the nature of our legal
        and compliance obligations. All Personal Information no longer required
        by us is destroyed and/or erased.
      </p>

      <p>Personal Data from Third Parties</p>

      <p>
        We may, from time to time, obtain Personal Information from third
        parties to enable us to better tailor our Services to you (Third Party
        Personal Information). When we obtain Third Party Personal Information,
        we will notify you within one month. If we use or share Third Party
        Personal Information, we will notify you immediately.
      </p>

      <p>Your Rights</p>

      <p>
        With respect to Personal Information we hold, you have the following
        rights:
      </p>
      <ul>
        <li>
          Access: You may request from us access to your data that we hold on
          you.
        </li>
        <li>
          Rectification: If the data we hold on you is inaccurate, you may
          request that we correct it. If the data we hold is incomplete, you may
          request that we complete it.
        </li>
        <li>
          Erasure: Subject to certain conditions, you may request that we erase
          all of the data we hold on you. li Restrictions: Subject to certain
          conditions, you may request that we restrict the processing of data we
          hold on you.
        </li>
        <li>
          Portability: Subject to certain conditions, you may request that we
          transfer all the data we hold on you to a third party (including
          yourself).
        </li>
        <li>
          Objections: Subject to certain conditions, you may object to us
          processing the data we hold on you.
        </li>
      </ul>
    </div>
  </div>
</main>
