---
import BaseLayout from "@/layouts/BaseLayout.astro";
---


<BaseLayout>

<section id="slider" class="section">
      <div class="slider">
        <div class="slider__container">
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/1.jpg"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/2.jpg?v=1689768423676"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/3.jpg"
              loading="lazy"
              width="100%"
            />
          </div>
        
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/6.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/7.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/8.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/9.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/10.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/11.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/12.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/13.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="slider__item">
            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/14.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            />
          </div>
          <div class="slider__item">
            <a href="index.html#taller">            <img
              src="https://cdn.glitch.global/407d5fe6-b26a-4bd6-b52c-57dda82656b0/15.jpg?v=1686626414811"
              loading="lazy"
              width="100%"
            /></a>
          </div>
          
        </div>
      </div>
    </section>
</BaseLayout>

