<main aria-labelledby="overview" id="overview" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2><div
    class="px-8 md:px-12 max-w-6xl mx-auto py-24 2xl:max-w-7xl">
    <div class="max-w-5xl">
      <h1
        class="text-black font-display mt-4 font-semibold text-4xl tracking-tighter">
        Overview
      </h1>
    </div>
    <ol role="list" class="mt-16 grid grid-cols-1 lg:grid-cols-3 gap-10">
      <li>
        <h3 class="font-display text-3xl font-bold tracking-tight text-black">
          Main pages
        </h3>
        <ol role="list" class="mt-8 tracking-tight">
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >Home
              </span>
            </a>
          </li>
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/about">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >About
              </span>
            </a>
          </li>
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/contact">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >Contact
              </span>
            </a>
          </li>
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/author">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >Author
              </span>
            </a>
          </li>
           <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/team">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >Team
              </span>
            </a>
          </li>
           <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/pricing-one">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >Pricing one
              </span>
            </a>
          </li>
           <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/pricing-two">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >Pricing two
              </span>
            </a>
          </li>
        </ol>
      </li>
      <li>
        <h3 class="font-display text-3xl font-bold tracking-tight text-black">
          Blog utilities
        </h3>
        <ol role="list" class="mt-8 tracking-tight">
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/landing-one">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >Landing One
              </span>
            </a>
          </li>
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/landing-two">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >Landing Two
              </span>
            </a>
          </li>
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/landing-three">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >Landing Three
              </span>
            </a>
          </li>
           <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/landing-four">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >Landing Four
              </span>
            </a>
          </li>
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/all-entries">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >All Entries
              </span>
            </a>
          </li>
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/tags">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >All tags
              </span>
            </a>
          </li>
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/rss.xml">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >RSS
              </span>
            </a>
          </li>
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/posts/1">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >Blog Post simple
              </span>
            </a>
          </li>
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/posts/2">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >Blog Post with code snippets
              </span>
            </a>
          </li>
        </ol>
      </li>
      <li>
        <h3 class="font-display text-3xl font-bold tracking-tight text-black">
          Utility pages
        </h3>
        <ol role="list" class="mt-8 tracking-tight">
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/terms">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >Terms of use
              </span>
            </a>
          </li>
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/privacy">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >Privacy policy
              </span>
            </a>
          </li>
          <li>
            <a
              class="flex flex-col lg:flex-row w-full justify-between py-3"
              href="/404">
              <span
                class="font-medium text-black hover:text-salmon-600"
                aria-hidden="true"
                >404
              </span>
            </a>
          </li>
        </ol>
      </li>
    </ol>
  </div>
</main>
