<section>
  <div class="px-8 md:px-12 lg:px-32 py-12 lg:py-24">
    <div class="border-b pb-4">
      <h1 class="text-black font-medium tracking-tighter text-3xl md:text-5xl">
        Supersotre style guide
      </h1>
    </div><div class="mt-12 lg:mt-24">
      <div class="border-b pb-5">
        <p class="text-black font-medium tracking-tighter text-3xl">
          <span class="text-black font-medium">Typography</span> / <span
            class="text-gray-500">Inter</span
          >
        </p>
      </div><div class="mt-12">
        <div>
          <div class="space-y-6 py-3">
            <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-black">Header 1</span></div><div>
                <span
                  class="text-black font-medium tracking-tighter text-3xl md:text-5xl"
                  >Header 1</span
                >
              </div>
            </div><div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-black">Header 2</span></div><div>
                <span class="text-black font-medium tracking-tighter text-4xl"
                  >Header 2</span
                >
              </div>
            </div><div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-black">Header 3</span></div><div>
                <span class="text-black font-medium tracking-tighter text-3xl"
                  >Header 3</span
                >
              </div>
            </div><div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-black">Link</span></div><div>
                <span class="text-black text-base hover:text-gray-600"
                  >Link text</span
                >
              </div>
            </div><div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-black">Subtitle</span></div><div>
                <span class="text-black font-semibold text-base"
                  >Subtitle text</span
                >
              </div>
            </div><div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-black">Paragraph</span></div><div>
                <span class="text-sm text-gray-600"
                  >I am so happy, my dear friend, so absorbed in the exquisite
                  sense of mere tranquil existence, that I neglect my talents.</span
                >
              </div>
            </div><div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-black">Caption</span></div><div>
                <span class="text-black text-xs">Picture about somethign</span>
              </div>
            </div><div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-black">Code</span></div><div>
                <code class="font-mono">tailwind.config.js</code>
              </div>
            </div><div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-black">List</span></div><div>
                <ul
                  class="text-gray-600 list-disc list-inside mt-6 space-y-3"
                  role="list">
                  <ul class="list-disc mt-3 prose" role="list">
                    <li>Access to premium posts</li><li>
                      Weekly newsletters
                    </li><li>Simple, secure card payment</li><li>
                      No Advertising
                    </li><li>Special discounts</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div><div class="mt-12">
        <div class="border-b pb-5">
          <p class="text-black font-medium tracking-tighter text-3xl">
            Color palette
          </p>
        </div>
      </div><div class="grid gap-2 grid-cols-2 lg:grid-cols-3 mt-12">
        <div class="space-y-2">
          <div class="lg:justify-center p-6 bg-white border rounded-lg"></div>
        </div><div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-blue-50"></div><div
            class="lg:justify-center p-6 bg-blue-100">
          </div><div class="lg:justify-center p-6 bg-blue-200"></div><div
            class="lg:justify-center p-6 bg-blue-300">
          </div><div class="lg:justify-center p-6 bg-blue-400"></div><div
            class="lg:justify-center p-6 bg-blue-500">
          </div><div class="lg:justify-center p-6 bg-blue-600"></div><div
            class="lg:justify-center p-6 bg-blue-700">
          </div><div class="lg:justify-center p-6 bg-blue-800"></div><div
            class="lg:justify-center p-6 bg-blue-900">
          </div><div class="lg:justify-center p-6 rounded-b-lg bg-blue-950">
          </div>
        </div><div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-gray-50"></div><div
            class="lg:justify-center p-6 bg-gray-100">
          </div><div class="lg:justify-center p-6 bg-gray-200"></div><div
            class="lg:justify-center p-6 bg-gray-300">
          </div><div class="lg:justify-center p-6 bg-gray-400"></div><div
            class="lg:justify-center p-6 bg-gray-500">
          </div><div class="lg:justify-center p-6 bg-gray-600"></div><div
            class="lg:justify-center p-6 bg-gray-700">
          </div><div class="lg:justify-center p-6 bg-gray-800"></div><div
            class="lg:justify-center p-6 bg-gray-900">
          </div><div class="lg:justify-center p-6 rounded-b-lg bg-gray-950">
          </div>
        </div>
      </div><div class="mt-12 lg:mt-32">
        <div class="border-b pb-5">
          <p class="text-black font-medium tracking-tighter text-3xl">
            Buttons
          </p>
        </div><div class="flex-wrap flex gap-2 mt-6">
          <a
            href="/system/overview"
            class="text-sm items-center gap-2 inline-flex active:bg-gray-100 active:text-gray-900/60 active:transition-none border font-medium outline-offset-2 px-6 rounded-lg transition w-full py-3 justify-center lg:w-auto bg-black border-white/20 hover:bg-gray-600 text-white"
            >See all pages
          </a><a
            href="#"
            class="text-black font-medium active:bg-gray-100 active:text-gray-900/60 active:transition-none bg-white border gap-2 hover:bg-gray-50 inline-flex items-center outline-offset-2 px-6 rounded-lg text-sm transition w-full py-3 justify-center lg:w-auto"
            >Buy SuperStore</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
