<footer class="border-white/20  border-b bg-accent-500">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-white text-center items-center mx-auto">
        <p class="uppercase font-display text-2xl">ASTROMAX</p>
        <p class="mx-auto mt-3 text-sm">
          Designed and built in the Åland Islands by <a
            class="underline"
            href="https://x.com/Mike_Andreuzza">Michael Andreuzza</a
          >.
        </p>
      </div>
    </div>
    <div class="mx-auto border-white/20  border-t flex flex-col p-8">
      <p class="text-white text-center text-sm font-display">
        See more templates on <a href="https://www.lexingtonthemes.com">
          Lexington Themes &nbsp; &rarr;</a
        >
      </p>
    </div>
  </div>
</footer>
