<footer class="border-white/20  border-b bg-accent-500">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-white text-center items-center mx-auto">
        <p class="uppercase   text-2xl">SINESTESIA</p>
        <p class="mx-auto mt-3 text-sm">
         Costa Rica - 2024
        </p>
      </div>
    </div>
    <div class="mx-auto border-white/20  border-t flex flex-col p-8">
      <p class="text-white text-center text-sm  ">
        
      </p>
    </div>
  </div>
</footer>
