<footer class="border-white/20 border-b bg-accent-500">
  <div class="mx-auto p-8 items-start justify-between w-full">
    <div class="text-white text-center items-center mx-auto">
      <p class="uppercase font-black text-2xl">ASTROMAX</p>
      <p class="mx-auto mt-3 text-sm">
        Designed and built in the Åland Islands by <a
          class="underline"
          href="https://x.com/Mike_Andreuzza">Michael Andreuzza</a
        >
      </p>
    </div>
  </div>
</footer>
