<div class="border-white/20 border-b justify-center w-full">
  <div
    class="text-center items-center w-full flex flex-col justify-between md:p-8 md:flex-row"
  >
    <a
      href="/"
      class="text-white font-black uppercase tracking-tight p-4 md:p-0"
      ><span>ASTROMAX</span>
    </a>
    <a
      href="https://github.com/michael-andreuzza/astromax"
      class="w-full bg-white duration-200 font-black hover:bg-black hover:text-white lg:ml-auto lg:w-fit px-6 py-4 sm:rounded-full text-black text-center text-xs uppercase"
      >Github</a
    ><a
      href="https://www.lexingtonthemes.com"
      class="w-full bg-orange duration-200 font-black hover:bg-black text-white lg:w-fit px-6 py-4 sm:rounded-full text-black hover:text-white text-center text-xs uppercase"
      >More Astro themes</a
    >
<a
      href="https://lexingtonthemes.com/templates/astromaxsp"
      class="w-full bg-orange duration-200 font-black hover:bg-black text-white lg:w-fit px-6 py-4 sm:rounded-full text-black hover:text-white text-center text-xs uppercase"
      >AstroMax Extended</a
    >
  </div>
</div>
