<section
  class="mx-auto border-white/20  border-t 2xl:max-w-7xl bg-black border-b justify-center lg:fixed lg:z-50 w-full">
  <div class="mx-auto bg-black justify-center w-full">
    <div
      class="mx-auto border-white/20  border-x max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full">
      <div
        class="text-white text-center items-center w-full flex flex-col justify-between md:px-0 sm:flex-row sm:px-8">
        <a
          href="https://www.lexingtonthemes.com"
          class="text-white text-xs font-display inline-flex items-center md:px-8 md:text-center py-4 uppercase"
          ><span>ASTROMAX ⏤ By Lexington Themes &nbsp; &rarr;</span>
        </a>
        <a
          href="https://github.com/michael-andreuzza/astromax"
          class="w-full bg-white duration-200 font-display hover:bg-black hover:text-white lg:ml-auto lg:w-auto px-6 py-4 sm:rounded-full text-black text-center text-xs uppercase"
          >Github</a
        ><a
          href="mailto:your@name.com"
          class="w-full bg-orange  duration-200 font-display hover:bg-blacktext-white lg:w-auto px-6 py-4 sm:rounded-full text-black hover:text-white text-center text-xs uppercase"
          >Get a quote</a
        >
      </div>
    </div>
  </div>
</section>
