<section
  class="mx-auto border-white/20  border-t 2xl:max-w-7xl bg-black border-b justify-center lg:fixed lg:z-50 w-full">
  <div class="mx-auto bg-black justify-center w-full">
    <div
      class="mx-auto border-white/20  border-x max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full">
      <div
        class="text-white text-center items-center w-full flex flex-col justify-between md:px-0 sm:flex-row sm:px-8">
        <a
          href=""
          class="w-full  text-white text-xs font-display hover:bg-black hover:text-white  md:px-8 md:text-center py-4 uppercase text-center"
          ><span>Nosotrxs</span>
        </a>
        <a
          href=""
          class="w-full bg-red-500 duration-200 text-white font-display hover:bg-black hover:text-white lg:ml-auto lg:w-auto px-6 py-4  text-black text-center text-xs uppercase"
          >Eventos</a
        >
        <a
          href=""
          class="w-full bg-red-700 duration-200 text-white font-display hover:bg-black hover:text-white lg:ml-auto lg:w-auto px-6 py-4  text-black text-center text-xs uppercase"
          >Talleres</a>
        <a
          href=""
          class="w-full bg-lime-500 duration-200 text-white font-display hover:bg-black hover:text-white lg:w-auto px-16 py-4  text-black hover:text-white text-center text-xs uppercase"
          >Inscribirme</a
        >
      </div>
    </div>
  </div>
</section>
